        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .row .clo {
            height: 100px;
            border: 1px solid #000;
            float: left;
            /* width: 200px;宽不能写死 */
        }
        
        @media (min-width: 1200px) {
            .row .clo{
                width: 25%;
            }
        }

        @media (max-width: 1200px) {
            .row .clo{
                width: 33%;
            }
        }

        @media (max-width: 992px) {
            .row .clo{
                width: 50%;
            }
        }


        @media (max-width: 768px) {
            .row .clo{
                width: 100%;
            }
        }